.name {
    background-color: #ccc;
}

.album-title {
    background-color: #bbb;
}

.image-item {
    display: flex;
    align-items: start;
}

.star {
    color: yellow
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}